.wrap
  .main
    .container
      .pageTitle
        %h2 組織
      .flex_wrap
        .department
          = link_to managements_path do
            .department_user
              .department_user_icon
                .department_user_icon_background
                  = image_tag 'office-1516329__340.webp'
              .department_user_name
                .department_user_displayName
                  %p 経営陣
              .department_user_count
                メンバー#{@basic_profile_managements.count}人
        .department
          .department_user
            .department_user_icon
              .department_user_icon_background
                = image_tag 'shaking-hands-3091906__340.webp'
            .department_user_name
              .department_user_displayName
                %p 営業部
            .department_user_count
              メンバー#{@basic_profile_sales.count}人
        .department
          .department_user
            .department_user_icon
              .department_user_icon_background
                = image_tag 'worker-5736096__340.webp'
            .department_user_name
              .department_user_displayName
                %p 製造部
            .department_user_count
              メンバー#{@basic_profile_productions.count}人
        .department
          .department_user
            .department_user_icon
              .department_user_icon_background
                = image_tag 'istockphoto-912482942-170667a.jpg'
            .department_user_name
              .department_user_displayName
                %p 開発部
            .department_user_count
              メンバー#{@basic_profile_developments.count}人
