.wrap
  = render 'commons/profile_image', user: current_user
  .main
    .container.profilePage
      .profilePage_user
        .profilePage_user_icon
          .profilePage_user_icon_background
            = image_tag user.background_image
            .profilePage_user_icon_image
              = link_to account_path(user) do
                = image_tag user.avatar_image
        .profilePage_user_name
          .profilePage_user_displayName
            = user.display_name
        .profilePage_user_department
          #{I18n.t("enum.departments.#{user.department || 'unentered'}")}
      .profilePage_title
        %h2 基本データ
        %span 基本データは管理者のみが編集可能な情報です。
        - if can? :read, @basic_profile
          - if user == current_user
            .profilePage_adminButton
              = link_to '編集', edit_basic_profile_path
          - else
            .profilePage_adminButton
              = link_to '編集', edit_account_path
      .profilePage_wrap
        .profilePage_wrap_title
          %h3 基本情報
        .profilePage_wrap_content
          .profilePage_wrap_content_type
            %p 氏名
            %p 誕生日
            %p 性別
            %p 所属
          .profilePage_wrap_content_data
            %div
              = user.display_name
            %div
              = user.bday
            %div
              #{I18n.t("enum.genders.#{user.gender || 'unknown'}")}
            %div{class: 'primary-color'}
              #{I18n.t("enum.departments.#{user.department || 'unentered'}")}
      
      .profilePage_title
        %h2 プロフィール
        - if user == current_user
          .profilePage_user_actionButton
            = link_to '編集', edit_custom_profile_path
      .profilePage_wrap
        .profilePage_wrap_title
          %h3 データ
        .profilePage_wrap_content
          .profilePage_wrap_content_type
            %p ニックネーム
            %p 居住地
          .profilePage_wrap_content_data
            %div
              = @custom_profile&.nickname
            %div
              = @custom_profile&.birthplace
      .profilePage_wrap
        .profilePage_wrap_title
          %h3 自己紹介
        .profilePage_wrap_introduction
          = @custom_profile&.introduction
