.wrap
  .profile
    .profilePage_user
      .profilePage_user_icon
        .profilePage_user_icon_background
          = image_tag current_user.background_image
          .profilePage_user_icon_image
            = image_tag current_user.avatar_image
      .profilePage_user_name
        .profilePage_user_displayName
          = current_user.display_name
      .profilePage_user_department
        #{I18n.t("enum.departments.#{current_user.department || unentered}")}
    .side
      = link_to favorites_path do
        .side_menu
          .side_menu_image
            = image_tag 'tag.png'
          .side_menu_text
            %p ブックマーク
  .main
    .container
      .information#information-show{data: {information_id: @information.id}}
        .information_wrap
          .information_detail
            .information_detail_image
              = link_to account_path(@information.user) do
                = image_tag @information.user.avatar_image
            .information_detail_user
              .information_detail_user_name
                %p= @information.author_name
              .information_detail_user_create
                %p= @information.display_created_at
            .information_detail_actions
              .information_detail_actions_dorpdown
                .dropdown
                  = image_tag 'actions.svg', class: 'dropbtn'
                  .dropdown-content.mini
                    = link_to '編集する', edit_information_path(@information)
                    = link_to '削除する', information_path(@information), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
              .information_detail_actions_bookmark.hidden.active-bookmark
                = link_to information_bookmark_path(@information), data: { method: 'delete' } do
                  = image_tag 'active-bookmark.png'
              .information_detail_actions_bookmark.hidden.inactive-bookmark
                = link_to information_bookmark_path(@information), data: { method: 'post' } do
                  = image_tag 'bookmark.png'
          - if @information.images.attached?
            - if @information.images.first && @information.images.second && @information.images.third #写真枚数で表示変更
              .information_image_three
                .information_image_three_first
                  = image_tag @information.images.first
                .information_image_three_second
                  = image_tag @information.images.second
                .information_image_three_third
                  = image_tag @information.images.third
            - elsif @information.images.first && @information.images.second
              .information_image_two
                .information_image_two_first
                  = image_tag @information.images.first
                .information_image_two_second
                  = image_tag @information.images.second
            - else @information.images.first
              .information_image_one
                .information_image_one_first
                  = image_tag @information.images.first
          .information_title
            = @information.title
          .information_content
            = @information.content
          .information_read
            .information_read_readButton
              %a 既読
          .information_userRead
            .information_userRead_count
              %p 10人
            %p が既読
  .aside

= javascript_pack_tag 'bookmark'
