.wrap
  = render 'commons/profile_image', user: current_user
  .main
    .container
      .pageTitle
        = link_to informations_path do
          %h2 全体連絡
      .information#information-show{data: {information_id: @information.id}}
        .information_wrap
          .information_detail
            .information_detail_image
              = link_to account_path(@information.user) do
                = image_tag @information.user.avatar_image
            .information_detail_user
              .information_detail_user_name
                %p= @information.author_name
              .information_detail_user_create
                %p= @information.display_created_at
            .information_detail_actions
              - if user_signed_in? && current_user.has_information_written?(@information)
                .information_detail_actions_dorpdown
                  .dropdown
                    = image_tag 'actions.svg', class: 'dropbtn'
                    .dropdown-content.mini
                      = link_to '編集する', edit_information_path(@information)
                      = link_to '削除する', information_path(@information), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
              .information_detail_actions_bookmark.hidden.active-bookmark
                = image_tag 'active-bookmark.png'
              .information_detail_actions_bookmark.hidden.inactive-bookmark
                = image_tag 'bookmark.png'
          - if @information.images.attached?
            - if @information.images.first && @information.images.second && @information.images.third #写真枚数で表示変更
              .information_image_three
                .information_image
                  = image_tag @information.images.first
                .information_image
                  = image_tag @information.images.second
                .information_image
                  = image_tag @information.images.third
            - elsif @information.images.first && @information.images.second
              .information_image_two
                .information_image
                  = image_tag @information.images.first
                .information_image
                  = image_tag @information.images.second
            - else @information.images.first
              .information_image_one
                .information_image
                  = image_tag @information.images.first
          .information_title
            = @information.title
          .information_content
            = @information.content
          .information_read
            .information_read_readButton.hidden.active-read
              %a 既読
            .information_read_inReadButton.hidden.inactive-read
              %a 既読
          .information_userRead
            .information_userRead_count
              %p= @information.read_count
            .information_userRead_text
              %p 人
            %p が既読

= javascript_pack_tag 'bookmark_show'
= javascript_pack_tag 'read'
