.wrap
  = render 'commons/profile_image', user: current_user
  .main
    .container
      - if current_user.department == 'sales'
        .pageTitleBtn
          = link_to sales_path do
            %h2 営業部
          .create
            = link_to new_sale_path do
              .create_button
                %p ＋新規ボード作成
      - else
        .pageTitle
          = link_to sales_path do
            %h2 営業部
      - @sales.each do |sale|
        .card
          .card_wrap
            = render 'commons/contact', contact: sale
            .card_display
              = link_to sale_path(sale) do
                .card_display_button
                  %p 詳細を表示
