.wrap
  = render 'commons/profile_image', user: current_user
  .main
    .container
      - if current_user.department == 'sales'
        .pageTitleBtn
          %h2 営業部
          .create
            = link_to new_sale_path do
              .create_button
                %p ＋新規ボード作成
      - else
        .pageTitle
          %h2 営業部
      - @sales.each do |sale|
        .card
          .card_wrap
            .card_detail
              .card_detail_image
                = link_to account_path(sale.user) do
                  = image_tag sale.user.avatar_image
              .card_detail_user
                .card_detail_user_name
                  %p= sale.author_name
                .card_detail_user_create
                  %p= sale.display_created_at
            .card_title
              = sale.title
            .card_content
              = sale.content
            .card_display
              = link_to sale_path(sale) do
                .card_display_button
                  %p 詳細を表示