.container_form
  %ul
    - @sale.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @sale, url: sales_path, method: 'post', local: true) do |f|
    %div
      = f.label :images, '3枚まで画像添付'
    %div
      = f.file_field :images,multiple: true
    %div
      = f.label :title, 'タイトル'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, '内容'
    %div
      = f.text_area :content
    = f.submit '保存', class: 'btn-primary'