.wrap
  = render 'commons/profile_image', user: current_user
  .main
    .container
      - if current_user.department == 'management'
        .pageTitleBtn
          %h2 経営陣
          .create
            = link_to new_management_path do
              .create_button
                %p ＋新規ボード作成
      - else
        .pageTitle
          %h2 経営陣
      - @managements.each do |management|
        .card
          .card_wrap
            .card_detail
              .card_detail_image
                = link_to account_path(management.user) do
                  = image_tag management.user.avatar_image
              .card_detail_user
                .card_detail_user_name
                  %p= management.author_name
                .card_detail_user_create
                  %p= management.display_created_at
            .card_title
              = management.title
            .card_content
              = management.content
            .card_display
              = link_to management_path(management) do
                .card_display_button
                  %p 詳細を表示
  .aside
