.wrap
  = render 'commons/profile_image', user: current_user
  .main
    .container
      .pageTitle
        = link_to managements_path do
          %h2 経営陣
      .information#management-show{data: {management_id: @management.id}}
        .information_wrap
          .information_detail
            .information_detail_image
              = link_to account_path(@management.user) do
                = image_tag @management.user.avatar_image
            .information_detail_user
              .information_detail_user_name
                %p= @management.author_name
              .information_detail_user_create
                %p= @management.display_created_at
            .information_detail_actions
              - if user_signed_in? && current_user.has_management_written?(@management)
                .information_detail_actions_dorpdown
                  .dropdown
                    = image_tag 'actions.svg', class: 'dropbtn'
                    .dropdown-content.mini
                      = link_to '編集する', edit_management_path(@management)
                      = link_to '削除する', management_path(@management), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
          - if @management.images.attached?
            - if @management.images.first && @management.images.second && @management.images.third
              .information_image_three
                .information_image
                  = image_tag @management.images.first
                .information_image
                  = image_tag @management.images.second
                .information_image
                  = image_tag @management.images.third
            - elsif @management.images.first && @management.images.second
              .information_image_two
                .information_image
                  = image_tag @management.images.first
                .information_image
                  = image_tag @management.images.second
            - else @management.images.first
              .information_image_one
                .information_image
                  = image_tag @management.images.first
          .information_title
            = @management.title
          .information_content
            = @management.content
    .container
      .pageTitle
        %h3 コメント
      .management-comment-container

    - if current_user.department == 'management'
      .container
        .btn-secondary.management-comment-form
          コメントを追加
        .comment-text-area.hidden
          = text_area_tag :comment_content, '', class: 'sm'
          .btn-secondary.add-comment-button
            コメントを追加

= javascript_pack_tag 'management_comment'
